<mat-card class="form-container">
  <mat-form-field appearance="legacy" class="form-field">
    <mat-label>{{selected ? selected.name : 'Wybierz typ CRC'}}</mat-label>
    <mat-select [(ngModel)]="selected">
      <mat-option [value]="it" *ngFor="let it of crcStorage.getAll()">{{it.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <p class="output-title">Wygenerowany wielomian CRC:</p>
  <p class="output-textarea">{{selected?.polynomialLabel}}</p>

  <mat-form-field appearance="legacy" class="form-field">
    <mat-label>Dane wejściowe</mat-label>
    <textarea matInput #inputText placeholder="Wpisz dowolny ciąg znaków..." rows="3"></textarea>
  </mat-form-field>

  <p class="output-title">Wygenerowany ciąg bitowy:</p>
  <div class="output-textarea">{{selected ? strToByteArrayString(inputText.value) : ''}}</div>

  <p class="output-title">Dane wejściowe z dołączonymi '0':</p>
  <div class="output-textarea">
    <div *ngIf="selected">
      <span>{{strToEmptyByteArrayString(inputText.value)}}</span>
      <span class="color-orange">{{dec2bin(selected.calculate(inputText.value))}}</span>
    </div>
  </div>

  <p class="output-title">Wyliczony kod nadmiarowy CRC:</p>
  <div class="output-textarea">
    <div *ngIf="selected">
      <span>{{strToByteArrayString(inputText.value)}}</span>
      <span class="color-orange">{{repeat0(dec2bin(selected.calculate(inputText.value)).length)}}</span>
    </div>
  </div>

  <p class="output-title">Wygenerowany kod CRC:</p>
  <div class="output-textarea">
    <div *ngIf="selected">
      <span>{{this.strToByteArrayString(inputText.value)}}</span>
      <span class="color-orange">{{this.dec2bin(selected.calculate(inputText.value))}}</span>
    </div>
  </div>

  <br/>
  <mat-form-field appearance="legacy" class="form-field">
    <mat-label>Ustaw błąd</mat-label>
    <input matInput type="number" min="0" #errorInput/>
  </mat-form-field>

  <p class="output-title">Dane do przesłania:</p>
  <div class="output-textarea">
    <app-bit-negation [crc]="crcMessage(selected, inputText.value)"
                      [positionToNegate]="errorInput.value"></app-bit-negation>
  </div>
</mat-card>
