<mat-card class="form-container">
  <mat-form-field appearance="legacy" class="form-field">
    <mat-label>Dane wejściowe:</mat-label>
    <textarea #inputText matInput rows="3"
              (change)="errorInput.value=''; saveInputText(inputText.value)"
              (keyup)="errorInput.value=''; saveInputText(inputText.value)"
              placeholder="Wpisz dowolny ciąg znaków..."></textarea>
  </mat-form-field>

  <p class="output-title">Wygenerowany ciąg bitowy:</p>
  <div class="output-textarea">{{byteArrayString}}</div>

  <p class="output-title">Dane zakodowane:</p>
  <div class="output-textarea">{{encodedData}}</div>

  <br/>
  <mat-form-field appearance="legacy" class="form-field" style="width: 79%; margin-right: 1%">
    <mat-label>Ustaw błąd</mat-label>
    <input matInput type="number" min="0" max="{{encodedData.length}}" #errorInput
           (change)="saveInputError(errorInput.value)"
           (keyup)="saveInputError(errorInput.value)"
           placeholder="Ile bitów ma zostać przekłamanych?"/>
    <mat-hint>Maksymalnie: {{encodedData.length}}</mat-hint>
  </mat-form-field>
  <button mat-raised-button class="reset-button"
          (click)="errorInput.value = ''; saveInputError('0')">Resetuj
  </button>


  <p class="output-title">Wygenerowane dane z wprowadzonym błędem:</p>
  <div class="output-textarea flex-row">
    <div class="wrap-text clickable" *ngFor="let error of errorsPositions; index as i"
         [ngClass]="{'color-red': error}" (click)="setError(i)">
      {{encodedDataWithErrors[i]}}
    </div>
  </div>

  <p class="output-title">Dane po próbie naprawy:</p>
  <div class="output-textarea flex-row">
    <div class="wrap-text" *ngFor="let error of errorsPositions; index as i"
         [ngClass]="{'color-red': error, 'color-green': fixedErrorsPositions[i]}">
      {{fixedData[i]}}
    </div>
  </div>

  <p class="output-title">Dane odkodowane:</p>
  <div class="output-textarea flex-row">
    <div class="wrap-text" *ngFor="let error of decodedErrorsPositions; index as i"
         [ngClass]="{'color-red': error}">
      {{decodedData[i]}}
    </div>
  </div>

  <p class="output-title">Dane wyjściowe:</p>
  <div class="output-textarea">{{outputText}}</div>
</mat-card>
