<div class="page-container">
  <div class="header-container">
    <h1 class="header-title">Detekcja i korekcja błędów w transmisji danych</h1>
    <h3 class="header-subtitle">Karol Ścibior, Adam Świątkowski</h3>
    <img src="/assets/logo.png" class="logo" />
  </div>
  <div class="content-container">
    <mat-tab-group mat-align-tabs="center" style="width: 100%">
      <mat-tab label="CRC">
        <app-crc></app-crc>
      </mat-tab>
      <mat-tab label="Hamming">
        <app-hamming></app-hamming>
      </mat-tab>
      <mat-tab label="Kontrola parzystości">
        <app-parity-check></app-parity-check>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
